html {
  height: 100%;
  background: radial-gradient(circle, #fff, #ccc);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#container {
  height: 400px;
  width: 530px;
  background-color: lightblue;
  margin: 100px auto;
  position: relative;
  border-bottom: 5px solid rgb(89, 189, 251);
  border-radius: 10px;
  padding: 10px;
}
#score {
  position: absolute;
  padding: 7px;
  background-color: rgb(250, 250, 139);
  left: 85%;
  border-radius: 5px;
  border-bottom: 3px solid rgb(130, 133, 134);
}
#curent {
  position: absolute;
  left: 40%;
  background-color: limegreen;
  padding: 2px 13px;
  border-radius: 5px;
  display: none;
  font-size: 30px;
  font-weight: bolder;
}
#tryagen {
  position: absolute;
  left: 38%;
  background-color: rgb(205, 50, 50);
  padding: 2px 13px;
  border-radius: 5px;
  color: white;
  display: none;
  font-weight: bolder;
  font-size: 30px;
}

#qustionbox {
  height: 120px;
  width: 400px;
  background-color: mediumslateblue;
  margin: 45px auto 10px;
  border-bottom: 5px solid rgb(231, 236, 238);
  border-radius: 7px;
  text-align: center;
  font-size: 80px;
  font-family: cursive, sans-serif;
  color: #fff;
}
#btn_answer {
  height: 43px;
  width: 400px;
  background-color: mediumslateblue;
  margin: 0 auto;
  border-bottom: 5px solid rgb(231, 236, 238);
  border-radius: 7px;
  text-align: center;
  font-size: 20px;
  font-family: cursive, sans-serif;
  color: #fff;
  cursor: pointer;
  display: none;
}
#text-help:hover {
  background-color: tomato;
  color: #000;
}
#choices {
  width: 400px;
  height: 90px;
  /* background-color: thistle; */
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
}
#box {
  width: 90px;
  height: 90px;
  background-color: rgb(233, 231, 231);
  border-radius: 3px;
  transition: all 0.2s;
  border-bottom: 5px solid rgb(128, 208, 240);
  cursor: pointer;
  text-align: center;
  line-height: 80px;
  font-family: cursive, sans-serif;
  position: relative;
}
#box:active {
  top: 4px;
  border-bottom: 0px solid rgb(128, 208, 240);
}
#box:hover {
  background-color: mediumslateblue;
}
#start {
  padding: 2px 14px;
  background-color: rgb(52, 168, 207);
  width: 140px;
  margin: 20px auto;
  font-family: cursive, sans-serif;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
}
#start:hover {
  background-color: tomato;
  color: #fff;
}
#timer {
  width: 150px;
  position: absolute;
  padding: 9px;
  background-color: rgb(250, 250, 139);
  left: 68%;
  border-radius: 5px;
  border-bottom: 3px solid rgb(130, 133, 134);
  bottom: 15px;
  font-size: 20px;
  display: none;
}
#gameover {
  width: 460px;
  height: 150px;
  background: linear-gradient(tomato, rgb(241, 239, 109));
  text-align: center;
  padding: 4px;
  line-height: 50px;
  font-size: 50px;
  position: absolute;
  left: 30px;
  top: 170px;
  z-index: 1;
  display: none;
}
#gamestart {
  width: 460px;
  height: 105px;
  background: linear-gradient(tomato, rgb(241, 239, 109));
  text-align: center;
  padding: 4px;
  line-height: 83px;
  font-size: 25px;
  position: absolute;
  left: 30px;
  top: 170px;
  z-index: 1;
  display: none;
}
